<div class="jumbotron pt-5">
    <img mat-card-image src="img1.jpg">
    <!-- <img class="center" src="img1.jpg">  -->
<mat-card>
    <span>Login</span>
    <br>
    <mat-form-field>
        <input matInput placeholder="UserName" [(ngModel)]="loginData.userName">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="loginData.Password" type="password">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
</mat-card>
</div>




