
  
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="ciDoctor">
          <th mat-header-cell *matHeaderCellDef> Ci </th>
          <td mat-cell *matCellDef="let element"> {{element.ciDoctor}} </td>
        </ng-container>
  
        <ng-container matColumnDef="nombreDoctor">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreDoctor}} </td>
        </ng-container>
  
        <ng-container matColumnDef="apellidosDoctor">
          <th mat-header-cell *matHeaderCellDef> Apellidos </th>
          <td mat-cell *matCellDef="let element"> {{element.apellidosDoctor}} </td>
        </ng-container>
  
        <ng-container matColumnDef="celularDoctor">
          <th mat-header-cell *matHeaderCellDef> Celular </th>
          <td mat-cell *matCellDef="let element"> {{element.celularDoctor}} </td>
        </ng-container>
  
        <ng-container matColumnDef="ci">
          <th mat-header-cell *matHeaderCellDef> Ci </th>
          <td mat-cell *matCellDef="let element"> {{element.ci}} </td>
        </ng-container>
  
        <ng-container matColumnDef="celular">
          <th mat-header-cell *matHeaderCellDef> Celular </th>
          <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
        </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
  